.env
.env.substitute
.env.swap
logs
build/
server/contracts/abi/*
server/db/
dist/
node_modules/
package-lock.json
pnpm-lock.yaml
.env
*.zip
server/db/development_sqlite/*
.DS_Store

log
__pycache__
*.pyc
*~
*.sqlite3

*.env


# IDE
.vscode/

!/**/.gitkeep
